*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

@font-face {
  font-family: "Satisfy-Regular";
  src: url("../src/fonts/Satisfy-Regular.ttf") format("truetype");
}

body {
  user-select: none;
  background-image: url("../src/images/bgimg.jpg");
}

.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#drum-machine {
  background-color: #00000082;
  padding: 18px;
  border-radius: 18px;
}

.controls {
  display: flex;
  justify-content: space-around;
  padding-bottom: 14px;
}

.controls #display {
  width: 100px;
  text-align: center;
  margin: 0px 18px;
  background-color: rgb(255 255 255 / 80%);
  border-radius: 6px;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/* .drum-pad {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
} */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #ffd700;
  border-radius: 50%;
  cursor: pointer;
}

#tribute {
  text-shadow: 3px 6px 3px black;
  text-align: center;
  width: 160px;
  padding-top: 16px;
  color: #fff;
  font-family: Satisfy-Regular;
}
