*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

/* body{
  user-select: none;
} */

.controls {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.drum-pad {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}