*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

body{
  user-select: none;
  background-image: url('../src/images/bgimg.jpg');
}

.container{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controls #display {
  width: 100px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.drum-pad {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}